server:
  port: 8080

spring:
  application:
    name: bluecone-app

  datasource:
    url: jdbc:mysql://rm-bp1xld3504q1gtf6b9o.mysql.rds.aliyuncs.com:3306/app?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
    username: muzhenpeng
    password: MUzhiwei123
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 600000
      max-lifetime: 1800000
      connection-timeout: 30000

  data:
    redis:
      host: sh-crs-kwzgk7ez.sql.tencentcdb.com
      port: 29104
      database: 4
      username: root
      password: MUzhiwei123


mybatis-plus:
  enabled: true



bluecone:
  cache:
    l1:
      max-size: 20000
    l2:
      enabled: true
    consistency:
      redis:
        enabled: true
    profiles:
      user-profile:
        ttl-seconds: 600
        cache-null: true
      order-detail:
        ttl-seconds: 180
        strong-consistency: true
      tenant-config:
        ttl-seconds: 1800
        cache-null: false
