<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluecone.app.payment.infrastructure.persistence.PaymentChannelConfigMapper">

    <resultMap id="PaymentChannelConfigResultMap" type="com.bluecone.app.payment.infrastructure.persistence.PaymentChannelConfigDO">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="store_id" property="storeId"/>
        <result column="channel_type" property="channelType"/>
        <result column="channel_mode" property="channelMode"/>
        <result column="app_id" property="appId"/>
        <result column="mch_id" property="mchId"/>
        <result column="sub_mch_id" property="subMchId"/>
        <result column="encrypt_payload" property="encryptPayload"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

</mapper>
